
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Account/Login">
    Customer Code :<input type="text" name="code" required=" " />
    Security code : <input type="password" name="pass" required=" " />
    <input type="submit" />
</form>

