
@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>

<form action="">
    <input type="text" name="code" required=" " />
    <input type="password" name="pass" required=" " />
    <input type="submit" />
</form>

